.custom-input{
    border: none; /* Убираем бордер */
    padding: 15px; /* Увеличиваем внутренний отступ */
    font-size: 16px; /* Увеличиваем размер шрифта */
    width: 100%; /* Устанавливаем ширину 100% от родительского контейнера */
    border-radius: 5px; /* Закругляем углы (по желанию) */

    &:focus{
        outline: none;
        border: none;
    }
}