.asset-table {
    max-width: 100%; /* Максимальная ширина — 100% от родителя */
    width: 100%; /* Установите ширину таблицы в 100% */
    margin: 100px auto; /* Центрирование таблицы */
    font-size: 18px; /* Размер шрифта */
    font-weight: normal; /* Нормальный вес шрифта */
}

table {
    width: 100%; /* Таблица занимает всю ширину контейнера */
    border-collapse: separate; /* Разделенные границы для добавления расстояния */
    border-spacing: 40px; /* Расстояние между ячейками */
    border: none; /* Убирает границы таблицы */
}

th, td {
    padding: 12px; /* Отступы ячеек */
    text-align: center; /* Выравнивание текста по центру */
    border: none; /* Убирает границы ячеек */
    font-weight: normal; /* Нормальный вес шрифта */
}

th {

}

.change24h {
    font-style: italic; /* Курсив */
    color: green; /* Зеленый цвет */
}